/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/../fonts/BebasNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  html,
  body {
    overflow: auto !important;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  outline: none;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
  scroll-margin-top: 50px;
  color: #fff;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  position: inherit !important;
  height: 100%;
  font-family: "BebasNeue", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

.page__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #121212;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow-x: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

section {
  padding: 100px 0;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1340px;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:before, .btn:after,
.btn span::before,
.btn span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}
.btn::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
}
.btn span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}
.btn span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
}
@media (min-width: 1025px) {
  .btn:hover {
    color: #ff0000;
  }
  .btn:hover::before, .btn:hover::after,
  .btn:hover span::before,
  .btn:hover span::after {
    width: 8px;
    height: 8px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-weight: 700;
  font-size: 40px;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-weight: 700;
  font-size: 34px;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 1024px) {
  h5 {
    font-size: 18px;
  }
}

p {
  font-size: 20px;
  line-height: 150%;
}
p * {
  color: #ff0000;
}
@media (max-width: 1024px) {
  p {
    font-size: 14px;
  }
}

.main-title {
  font-size: 90px;
  line-height: 120%;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px black;
}
.main-title span {
  color: #ff0000;
  font: inherit;
}
@media (max-width: 1024px) {
  .main-title {
    text-align: left;
    font-size: 28px;
    line-height: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }
}

p:not(:last-child) {
  margin-bottom: 15px;
}
p br {
  display: none;
}
p + *:not(p, ul) {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  p + *:not(p, ul) {
    margin-top: 30px;
  }
}

.bg-block {
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.bg-block:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgba(220, 66, 37, 0)));
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(220, 66, 37, 0));
  opacity: 0.9;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
}
.header__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.header__nav .nav__link {
  font-size: 24px;
  line-height: normal;
  text-transform: uppercase;
  color: #797878;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__nav .nav__link span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__nav .nav__link span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.header__nav .nav__link span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.header__nav .nav__link::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid #ff0000;
  border-top: 2px solid #ff0000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.header__nav .nav__link::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
@media (min-width: 1025px) {
  .header__nav .nav__link:hover::before {
    opacity: 1;
    right: 5px;
    top: 5px;
  }
  .header__nav .nav__link:hover::after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
  }
  .header__nav .nav__link:hover span {
    color: #ff0000;
  }
  .header__nav .nav__link:hover span::before {
    opacity: 1;
    left: 5px;
    top: 5px;
  }
  .header__nav .nav__link:hover span::after {
    opacity: 1;
    right: 5px;
    bottom: 5px;
  }
}

.hero {
  height: 100vh;
}
.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.hero__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 150px;
  max-width: 700px;
  text-align: center;
  z-index: 1;
}
.hero__title {
  margin-bottom: 50px;
}
.hero__desc {
  margin-bottom: 20px;
}
.hero__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  padding-bottom: 20px;
}
.hero__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}
.hero__statistics .statistics__item-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}
.hero__statistics .statistics__item-inner::before, .hero__statistics .statistics__item-inner::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hero__statistics .statistics__item-inner::before {
  right: 0;
  top: -5px;
  border-right: 2px solid #ff0000;
  border-top: 2px solid #ff0000;
}
.hero__statistics .statistics__item-inner::after {
  left: 0;
  bottom: -5px;
  border-left: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
}
.hero__statistics .statistics__item {
  position: relative;
  padding: 10px;
  min-width: 150px;
}
.hero__statistics .statistics__item::before, .hero__statistics .statistics__item::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hero__statistics .statistics__item::before {
  left: 5px;
  top: 5px;
  border-top: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}
.hero__statistics .statistics__item::after {
  right: 5px;
  bottom: 5px;
  border-right: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
}
.hero__statistics .statistics__item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 50px;
}
.hero__statistics .statistics__item-count p {
  font: inherit;
}
.hero__statistics .statistics__item-count * {
  color: #ff0000;
  font-weight: 700;
}
.hero__statistics .statistics__item-text {
  font-size: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.social__list li a {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.social__list li a span {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.social__list li a span:nth-child(1),
.social__list li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #fff;
}
.social__list li a span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}
.social__list li a:hover span:nth-child(1) {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.social__list li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.social__list li a:hover span:nth-child(3) {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.social__list li a span:nth-child(2),
.social__list li a span:nth-child(4) {
  width: 2px;
  height: 100%;
  background: #fff;
}
.social__list li a span:nth-child(2) {
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.social__list li a:hover span:nth-child(2) {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.social__list li a span:nth-child(4) {
  top: 0;
  right: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
.social__list li a:hover span:nth-child(4) {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.social__item svg {
  width: 27px;
  height: 27px;
  fill: #fff;
}
.social__link {
  padding: 7px;
}

.about::before {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgba(49, 39, 39, 0.6901960784)));
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(49, 39, 39, 0.6901960784));
}
.about__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 70px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 1;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.about__title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.about .achievements__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.about .achievements__items {
  width: 100%;
}
.about .achievements__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.about .achievements__item * {
  font-size: 0;
  width: 0;
  height: 0;
}
.about .achievements__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .ms--images {
  position: relative;
  overflow: hidden;
}
.about .ms--images.ms-container--horizontal {
  width: 100%;
  height: 500px;
  max-width: 100%;
  -webkit-mask: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, #fff), color-stop(80%, #fff), to(transparent));
  -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, #fff), color-stop(80%, #fff), to(transparent));
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.about .ms--images.ms-container--horizontal .ms-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.about .ms--images .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.about .ms--images .ms-slide {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 500px;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.about .ms--images {
  left: 0;
}
.about .ms--images.ms-container--horizontal .ms-track {
  left: 20px;
  height: 100%;
  gap: 30px;
}
.about .ms--images .ms-slide__image-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.about .ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about .ms--numbers {
  position: relative;
  overflow: hidden;
}
.about .ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}
.about .ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}
.about .ms--numbers.ms-container--horizontal .ms-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.about .ms--numbers .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.about .ms--numbers .ms-slide {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  text-shadow: 5px 5px 5px black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.about .ms--numbers {
  position: absolute;
  left: calc(50% - 530px);
  top: -100px;
  pointer-events: none;
}
.about .ms--numbers .ms-slide {
  font-size: 150px;
  font-weight: 700;
  color: #fff;
}
.about .ms--titles {
  position: relative;
  overflow: hidden;
}
.about .ms--titles.ms-container--vertical {
  width: 400px;
  height: 170px;
  max-height: 100%;
}
.about .ms--titles.ms-container--vertical .ms-track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: calc(50% - 85px);
}
.about .ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 85px);
}
.about .ms--titles.ms-container--vertical .ms-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .ms--titles .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.about .ms--titles .ms-slide {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 400px;
  height: 170px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.about .ms--titles {
  position: absolute;
  left: calc(50% - 550px);
  z-index: 1;
  pointer-events: none;
}
.about .ms--titles .ms-track {
  white-space: normal;
}
.about .ms--titles .ms-slide {
  font-size: 3.3em;
  font-weight: 600;
}
.about .ms--titles .ms-slide h3 {
  margin: 0;
  font-size: 40px;
  text-shadow: 5px 5px 5px black;
}
.about .ms--links {
  position: relative;
  overflow: hidden;
}
.about .ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}
.about .ms--links.ms-container--vertical .ms-track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: calc(50% - 30px);
}
.about .ms--links.ms-container--vertical .ms-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .ms--links .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.about .ms--links .ms-slide {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.about .ms--links {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% + 105px);
  z-index: 1;
}
.about .ms--links .ms-track {
  white-space: normal;
}
.about .ms--links .ms-slide__link {
  font-weight: 600;
  padding: 5px 0 8px;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.about .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: calc(50% - 420px);
  top: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
.about .pagination__button {
  display: inline-block;
  position: relative;
  width: 36px;
  margin: 0 5px;
  cursor: pointer;
}
.about .pagination__button:before,
.about .pagination__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  -webkit-box-shadow: 0 1px 0 #0b0d14;
  box-shadow: 0 1px 0 #0b0d14;
}
.about .pagination__button:before {
  height: 3px;
  background-color: #6a3836;
}
.about .pagination__button:after {
  height: 3px;
  background-color: #ff0000;
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}
.about .pagination__item--active .pagination__button:after {
  opacity: 1;
}
@media screen and (max-width: 860px) {
  .about .ms--numbers {
    left: calc(50% - 120px);
  }
  .about .ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    text-align: center;
  }
  .about .ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
  }
  .about .pagination {
    left: 50%;
    top: calc(100% - 50px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 600px) {
  .about .ms--images {
    overflow: visible;
  }
}
@media screen and (max-width: 400px) {
  .about .ms--titles .ms-slide {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.reviews {
  background-position: top;
}
.reviews .tabs__panel {
  display: none !important;
}
.reviews .tabs__panel--active {
  display: block !important;
}
.reviews:before {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0.94)));
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.94));
}
.reviews__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}
.reviews__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  max-width: 500px;
}
.reviews__tabs-nav {
  position: relative;
  padding: 15px;
  overflow: hidden;
}
.reviews__tabs-nav span {
  position: absolute;
}
.reviews__tabs-nav span:first-child {
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#171618), to(#ff0000));
  background: linear-gradient(to right, #171618, #ff0000);
  -webkit-animation: line1 2s linear infinite;
  animation: line1 2s linear infinite;
}
.reviews__tabs-nav span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171618), to(#ff0000));
  background: linear-gradient(to bottom, #171618, #ff0000);
  -webkit-animation: line2 2s linear infinite;
  animation: line2 2s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.reviews__tabs-nav span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(#171618), to(#ff0000));
  background: linear-gradient(to left, #171618, #ff0000);
  -webkit-animation: line3 2s linear infinite;
  animation: line3 2s linear infinite;
}
.reviews__tabs-nav span:nth-child(4) {
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(#171618), to(#ff0000));
  background: linear-gradient(to top, #171618, #ff0000);
  -webkit-animation: line4 2s linear infinite;
  animation: line4 2s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.reviews__tabs-nav-item {
  background-color: rgba(255, 255, 255, 0.1);
}
.reviews__tabs-nav-btn {
  padding: 10px;
  font-size: 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .reviews__tabs-nav-btn:hover {
    background-color: rgba(255, 0, 0, 0.2901960784);
  }
}
.reviews__tabs-nav-btn:focus {
  background-color: transparent;
}
.reviews__tabs-nav-btn.tabs__nav-btn--active {
  background-color: #ff0000;
}
.reviews__tabs-panel {
  width: 100%;
  height: 100%;
}
.reviews__tabs-panel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 500px;
  overflow: hidden;
}
.reviews__tabs-panel-item img {
  -o-object-fit: contain;
  object-fit: contain;
}
.reviews__tabs-panel-item--text {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.reviews__tabs-panel-item--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}
.reviews__tabs-panel-item--text h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.reviews__tabs-panel-item--text h3::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='9' r='3' stroke='%23fff' stroke-width='1.5'/%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23fff' stroke-width='1.5'/%3E%3Cpath d='M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20' stroke='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.reviews__tabs-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
}
.reviews__tabs-btns span {
  width: 36px;
  height: 3px;
  background-color: #6a3836;
  border-radius: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.reviews__tabs-btns span.swiper-pagination-bullet-active {
  background-color: #ff0000;
}
@-webkit-keyframes line1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes line1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes line2 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes line2 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes line3 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes line3 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes line4 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes line4 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}/*# sourceMappingURL=main.css.map */
