.contacts {
  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;

    z-index: 1;

    @include small-tablet {
      gap: 20px;
    }
  }

  .form {
    position: relative;

    &.result {
      .form__fields {
        opacity: 0;
        visibility: hidden;
      }

      .form__result {
        opacity: 1;
        visibility: visible;
      }
    }

    &.loading {
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 16.5H35C35.552 16.5 36 16.948 36 17.5V27.5C36 28.052 35.552 28.5 35 28.5H33C32.448 28.5 32 28.052 32 27.5V17.5C32 16.948 32.448 16.5 33 16.5Z' stroke='%23ff0000' stroke-width='2'/%3E%3Cpath d='M29 12.5H31C31.552 12.5 32 12.948 32 13.5V31.5C32 32.052 31.552 32.5 31 32.5H29C28.448 32.5 28 32.052 28 31.5V13.5C28 12.948 28.448 12.5 29 12.5Z' stroke='%23ff0000' stroke-width='2'/%3E%3Cpath d='M15 12.5H17C17.552 12.5 18 12.948 18 13.5V31.5C18 32.052 17.552 32.5 17 32.5H15C14.448 32.5 14 32.052 14 31.5V13.5C14 12.948 14.448 12.5 15 12.5Z' stroke='%23ff0000' stroke-width='2'/%3E%3Cpath d='M11 16.5H13C13.552 16.5 14 16.948 14 17.5V27.5C14 28.052 13.552 28.5 13 28.5H11C10.448 28.5 10 28.052 10 27.5V17.5C10 16.948 10.448 16.5 11 16.5Z' stroke='%23ff0000' stroke-width='2'/%3E%3Cpath d='M36 22.5H39' stroke='%23ff0000' stroke-width='2'/%3E%3Cpath d='M18 22.5H28' stroke='%23ff0000' stroke-width='2'/%3E%3Cpath d='M7 22.5H10' stroke='%23ff0000' stroke-width='2'/%3E%3C/svg%3E");
        z-index: 2;

        animation: scale-icon 1s ease-in-out infinite;
      }

      .form__fields {
        opacity: 0.3;
      }
    }

    &__fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      @include small-tablet {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__field {
      position: relative;

      &--name {
        grid-area: 1 / 1 / 2 / 2;
      }

      &--mail {
        grid-area: 1 / 2 / 2 / 3;
      }

      &--message {
        grid-area: 2 / 1 / 3 / 3;
      }

      input,
      textarea {
        font-size: 20px;
        line-height: normal;
        padding: 20px;
        width: 100%;
        color: $white;
        background-color: transparent;
        border: 2px solid $red;

        &::placeholder {
          color: inherit;
        }
      }

      textarea {
        resize: none;
        min-height: 200px;
      }

      .just-validate-error-label {
        position: absolute;
      }

      @include small-tablet {
        grid-area: auto;

        input,
        textarea {
          padding: 10px;
          font-size: 18px;
        }

        textarea {
          min-height: 100px;
        }

        .just-validate-error-label {
          font-size: 14px;
        }
      }
    }

    &__result {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid $red;

      opacity: 0;
      visibility: hidden;
      z-index: 1;
    }

    &__result-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      text-align: center;

      &.success {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 512 512' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Esuccess%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='add-copy' fill='%234bef6f' transform='translate(42.666667, 42.666667)'%3E%3Cpath d='M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51296 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.153707,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51296 331.153707,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.43872,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.438933,384 213.333333,384 Z M293.669333,137.114453 L323.835947,167.281067 L192,299.66912 L112.916693,220.585813 L143.083307,190.4192 L192,239.335893 L293.669333,137.114453 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
      }

      &.error {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg fill='%23ff0000' width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z'/%3E%3Cpath d='M11 7h2v7h-2zm0 8h2v2h-2z'/%3E%3C/svg%3E");
        }
      }

      &::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

@keyframes scale-icon {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
