.faq {
  background-position: top;

  &:before {
    background-image: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 70%));
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__elem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $red;
    background-color: rgba(0, 0, 0, 0.57);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    &.active {
      .faq__question {
        &:after {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__question {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 2px;
      background-color: $red;
      transition: transform 0.2s ease-in-out;
    }

    &::after {
      transform: rotate(-90deg);
    }

    &::before {
      transform: rotate(0);
    }

    h3 {
      margin: 0;
    }

    span {
      position: absolute;
      top: 0px;
      left: -30px;

      font-weight: 700;
      font-size: 180px;
      opacity: 0.1;
    }
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s linear;

    p {
      padding-top: 15px;
    }
  }
}
