.program-list {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;

    mask: linear-gradient(90deg, transparent, #fff 10%, #fff 90%, transparent);
    z-index: 1;
  }

  &__tabs {
    max-width: 95%;
  }
}
