.reviews {
  background-position: top;

  &:before {
    background-image: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 94%));
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__tabs {
    max-width: 500px;
  }

  &__tabs-panel-item {
    max-height: 500px;

    @include tablet {
      max-height: 300px;
    }
  }
}
