.reviews {
  background-position: top;

  @include tabs;

  &:before {
    background-image: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 94%));
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 500px;
  }

  &__tabs-nav {
    padding: 15px;
    overflow: hidden;
  }

  &__tabs-nav-item {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__tabs-nav-btn {
    padding: 10px;
    font-size: 30px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    @include for-desktop {
      &:hover {
        background-color: #ff00004a;
      }
    }

    &:focus {
      background-color: transparent;
    }

    &.tabs__nav-btn--active {
      background-color: $red;
    }
  }

  &__tabs-panel {
    width: 100%;
    height: 100%;
  }

  &__tabs-panel-item {
    display: flex;
    max-height: 500px;
    overflow: hidden;

    img {
      object-fit: contain;
    }
  }

  &__tabs-panel-item--text {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__tabs-panel-item--text {
    display: flex;
    flex-direction: column;
    height: auto;

    h3 {
      display: flex;
      gap: 10px;

      &::before {
        content: "";
        display: flex;
        width: 40px;
        height: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='9' r='3' stroke='%23fff' stroke-width='1.5'/%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23fff' stroke-width='1.5'/%3E%3Cpath d='M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20' stroke='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
      }
    }
  }

  &__tabs-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    span {
      width: 36px;
      height: 3px;
      background-color: #6a3836;
      border-radius: 0;
      opacity: 1;
      transition: all 0.2s ease-in-out;

      &.swiper-pagination-bullet-active {
        background-color: $red;
      }
    }
  }
}
